
# Build output
# Dependencies
# IDE
# Logs
# OS
*.log
*.swo
*.swp
*~
.DS_Store
.env
.env.local
.idea/
.vscode/
Thumbs.db
build/
dist/
logs/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
